.App {
  text-align: center;
  margin: 2em auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MemberList {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.memberDisplay {
  margin-top: 1em;
}
